img {
	margin-top: 15px;
	height: 250px;
	width:	250px;
}

#all {
	align-content: center;
	margin: 5px;
	padding-left: 15px;
	background-color: lightGray;
	height: 400px;
}

h3 {
	padding-top: 30px;
	text-align: center;
}

.container {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin: auto;
	
}

.big {
	height: 700px;
	width: 350px;
	background-color: rgb(66, 244, 206);
}


